body {
  background-color: #000;
  color: #fff;
  margin: 0px;
  overflow: hidden;
  font-size: 1rem;
  line-height: 1.2em;
}

body * {
  font-family: Monospace;
  box-sizing: border-box;
}

#root {
  cursor: crosshair;
}

#info {
  color: #fff;
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display: block;
}

#info a,
.button {
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.dc {
  z-index: 999 !important;
}

a {
  color: rgb(200, 200, 255);
}

#ui {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  min-width: 1200px;
  pointer-events: none;
}

#ui .help {
  width: 500px;
  height: auto;
  pointer-events: all;
  position: absolute;
  left: 10px;
  top: 10px;
}

#ui .selection {
  width: 375px;
  min-height: 260px;
  position: absolute;
  bottom: 0px;
  right: 10px;
  font-size: 0.9em;
  line-height: 1.5em;
}

#ui .reticle {
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50% - 75px);
  left: calc(50% - 75px);
}

#ui .fps-stats {
  height: 60px;
  display: block;
  position: absolute !important;
  left: auto !important;
  top: 10px !important;
  right: 10px !important;
}

#ui .health-bar {
  width: 200px;
  height: 60px;
  position: absolute;
  bottom: 60px;
  left: calc(50% - 200px);
}
#ui .health-bar > div {
  border-radius: 30px 0 0 0 !important;
}

#ui .speedometer {
  width: 200px;
  height: 60px;
  position: absolute;
  bottom: 0px;
  left: calc(50% - 200px);
}
#ui .speedometer > div {
  border-radius: 0 !important;
}

#ui .shields-bar {
  width: 200px;
  height: 60px;
  position: absolute;
  bottom: 60px;
  left: 50%;
}
#ui .shields-bar > div {
  border-radius: 0 30px 0 0 !important;
}

#ui .energy-bar {
  width: 200px;
  height: 60px;
  position: absolute;
  bottom: 0px;
  left: 50%;
}
#ui .energy-bar > div {
  border-radius: 0 !important;
}

#ui .body-counter {
  width: 200px;
  height: 60px;
  position: absolute;
  top: 10px;
  right: 100px;
}

#ui .scene-messages {
  width: 375px;
  height: 260px;
  position: absolute;
  bottom: 0px;
  left: 10px;
  font-size: 0.9em;
  line-height: 1.5em;
}

#ui .scene-console {
  width: 33.3% !important;
  height: 300px !important;
  position: absolute;
  top: 0px;
  left: 33.3%;
  font-size: 0.9em;
  line-height: 1.5em;
  pointer-events: all;
}

#ui .ship-config {
  width: 400px;
  height: 300px;
  position: absolute;
  top: calc(50% - 150px);
  right: calc(50% - 200px);
  pointer-events: all;
}

#ui .ship-config-button {
  pointer-events: all;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 10px;
  bottom: 270px;
  font-size: 2em;
}

#ui .help-button {
  pointer-events: all;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 1.9em;
}

#ui .help-button:hover,
#ui .ship-config-button:hover {
  background-color: #555555aa;
}
